.show_product {
    padding: 20px 0;
    .images {
        .list {
            .img {
                background-color: #e9e9e9;
                padding: 5px;
                border-radius: 10px;
                margin: 0 10px;
                // height: 150px;
                // width: 150px;
                img {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .active {
            border-radius: 10px;
            width: 400px;
            height: 400px;
            overflow: hidden;
            position: relative;
            img {
                background-color: #e9e9e9;
                padding: 10px;
                margin: auto;
                width: 300px;
                border-radius: 10px;
                @media (max-width: 767px) {
                    width: 250px;
                    margin: auto;
                }
            }
        }

        /* swiper-custom.css */
            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;       /* change arrow color */
                background-color: var(--second-color); /* optional bg */
                padding: 10px;
                border-radius: 9999px;
            }

            .swiper-button-next::after,
            .swiper-button-prev::after {
            font-size: 20px;
            }

            .swiper-pagination-bullet {
            background: #888;
            opacity: 1;
            }

            .swiper-pagination-bullet-active {
            background: #000;
            }

    }
    .prices {
        h4 {
            margin: 0px 5px;
        }
        .old_price {
            color: #c9c9c9;
        }
    }

    .colors {
        h3 {
            margin: 0;
        }
        .color {
            margin: 0px 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover, &.active {
                border: 4px solid var(--second-color);
            }
        }
    }
    .sizes {
        h3 {
            margin: 0;
        }
        .size {
            padding: 10px 5px;
            margin: 0px 5px;
            border-radius: 5px;
            border: 1px solid #c9c9c9;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover,&.active {
                background-color: var(--second-color);
                color: #fff;
            }
        }
    }
    .submit_form {
        margin-top: 10px;
        background-color: var(--second-color);
        color: #fff;
        padding: 10px;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        &:focus {
            color: #fff;
        }
        &:hover {
            background-color: #000;
        }
    }

    .box {
        border: 3px solid #e6e6e6;
        margin: 10px 0;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            border-color: var(--second-color);
        }
        &.active {
            border-color: var(--second-color);
            display: block !important;
        }
        
    }
}