@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jersey+15&family=Noto+Sans+Arabic:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');:root {
  --second-color: #CFB8A8;
}
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
}

